<p-card >
   
<form [formGroup]="reviewForm" (submit)="onPost()">
   
   <!-- <ng-template pTemplate="caption">
        <div style="text-align: left; background-color: white;">        
            <input type="text" pInputText size="50" placeholder=" rhc/product" (input)="dt.filter($event.target.value,'rhc', 'contains')" style="width:auto">
        </div>
    </ng-template>-->

    <input type="number"  placeholder=" rhc " formControlName="reviewText" /><button pButton label="get" type="submit" class="p-button-info"></button>
   

</form>

<p-card>
   
    <ng-template pTemplate="caption">
        <div style="text-align: left; background-color: white;">        
            <input type="text" pInputText size="50" placeholder=" date " (input)="dt.filter($event.target.value,'promiseDate', 'contains')" style="width:auto">
        </div>
    </ng-template>
</p-card>
<p-card>
<p-table #dt  [columns]="cols" [value]="Rhc" [paginator]="true" [rows]="10" [first]="first" [rowsPerPageOptions]="[10,20,30]">
    
    <ng-template pTemplate="caption">
        <div style="text-align: left; background-color: white;">        
            <input type="text" pInputText size="50" placeholder="  search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
 
    <ng-template pTemplate="header" let-columns>

        <tr>

            <th  *ngFor="let col of columns">

                {{col.header}}

            </th>

        </tr>
    
       <!-- <tr>
            <th  *ngFor="let col of columns" [ngSwitch]="col.field">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
              <input *ngSwitchCase="'rhc'" pInputText type="text"
                (input)="dt.filter($event.target.value, col.field, 'contains')" />
            </th>
          </tr>-->
        
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">

        <tr>

            <td *ngFor="let col of columns">

                {{rowData[col.field]}}

            </td>
            

        </tr>

    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="10"> <p-message   severity="error" text="No Matching records found.."></p-message>.</td>
            
        </tr>
    </ng-template>

</p-table>
</p-card>
</p-card>