<p-card >    

<p-menubar [model]="items" >
    
    <form [formGroup]="reviewForm" (submit)="onPost()">
       <label aria-required="true" class="form-label required"  for="right-label" ><b>RHC/Order:</b></label>

         <!-- <p-inputNumber  id= "right-label" type="number"  aria-describedby="username-help"  class="p-invalid" pInputText formControlName="reviewText"  ></p-inputNumber>
          <p-message severity="error" text="Line No is required" *ngIf="!reviewForm.controls['reviewText'].valid&&reviewForm.controls['reviewText'].dirty"></p-message>
          -->
          <div class="p-field p-col-12 p-md-3">

            <label aria-required="true" class="form-label required">Line</label>
  
            <input placeholder="3000" formControlName="reviewText" type="number" aria-required="true">
  
           
  
            <p-message severity="error" style="background-color:aliceblue;" text="Line No is required" *ngIf="!reviewForm.controls['reviewText'].valid&&reviewForm.controls['reviewText'].dirty"></p-message>
  
          </div>
          <small *ngIf="rhcerror" id="username-help" class="p-invalid">Already Present In table</small>
          <small *ngIf="norhcerror" id="username-help" class="p-invalid">No Record Found In table</small>
          <label for="icon" ><b>Cut Date:</b> &nbsp; &nbsp;</label>
          <p-calendar  [(ngModel)]="date3"  [showIcon]="true" inputId="icon"></p-calendar>
    <button  pButton pRipple type="submit" label="Get Order" class="p-button-secondary" icon="pi pi-download"></button>
   
</form>
</p-menubar>
<br>

<p-card>
   
    <ng-template pTemplate="header">
      
        <br>
        <br>
       <div  style="margin-bottom: -2%;  margin-left: 2%;" >        
       <input  style="text-align: left;"  type="text" pInputText size="25" placeholder="  search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: 25%;">
       <label for="icon" style="margin-left: 50%;"><b>Cut Date:</b> &nbsp; &nbsp;</label>
       <p-calendar  [(ngModel)]="date3"  [showIcon]="true" inputId="icon"></p-calendar>
        </div>

    

    </ng-template>
    
<p-table #dt  [columns]="cols" [value]="Rhc" [paginator]="true" [rows]="10" [first]="first" [rowsPerPageOptions]="[10,20,30]">
    
    
 
    <ng-template pTemplate="header" let-columns>

        <tr>

            <th  *ngFor="let col of columns">

                {{col.header}}

            </th>

        </tr>
    
       <!-- <tr>
            <th  *ngFor="let col of columns" [ngSwitch]="col.field">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
              <input *ngSwitchCase="'rhc'" pInputText type="text"
                (input)="dt.filter($event.target.value, col.field, 'contains')" />
            </th>
          </tr>-->
        
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">

        <tr>

            <td *ngFor="let col of columns">

                {{rowData[col.field]}}

            </td>
            

        </tr>

    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="10"> <p-message   severity="error" text="No Matching records found.."></p-message>.</td>
            
        </tr>
    </ng-template>

</p-table>
</p-card>
</p-card>